* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*position: relative;*/
	font-family: Helvetica;
	/*color: #fff;*/
	/*background-color: #92b3e8;*/
	background-color: #b7cae8;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
	z-index: 1;
	display: none;
	margin: 0 auto;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 5px;
}

.modal-header {
	height: 35px;
	background-color: lightblue;
	margin: 0 0 20px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-close {
	float: right;
	color: #fff;
	font-size: 1.7em;
	margin: 2px 8px 0 0;
}

.modal-close:hover {
	color: #000;
	cursor: default;
}

.modal-body {
	color: #000;
}

.signup-call {
	width: 100%;
	padding: 0 20px;
	text-align: center;
}

.signup-form {
	
}

.email-input {
	display: block;
	width: 220px;
	margin: 0 auto;
	line-height: 35px;
	font-size: 1em;
}

.signup-button {
	display: block;
	margin: 10px auto;
	background-color: lightgreen;
	width: 100px;
	border: 3px solid lightgreen;
	border-radius: 3px;
	font-size: 1em;
	color: #fff;
}

.signup-button:hover {
	background-color: #3dd36c;
	border-color: #3dd36c;
	cursor: pointer;
}

.banner-container {
	height: 120px;
	/*background-color: #374559;*/
	background-color: #000;
}

.main-header {
	/*color: #b7cae8;*/
	/*color: #c6dcf2;*/
	width: 100%;
	color: #92b3e8;
	margin: 40px auto 0 auto;
	padding-top: 10px;
	text-align: center;
	font-family: Impact;
	font-size: 5em;
}

.nav {
	width: 100%;
	height: 44px;
	color: #fff;
	background-color: #000;
	position: fixed;
	top: 0;
	/*z-index: 10;*/
	/*margin-top: 15px;*/
	padding-top: 15px;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	font-weight: lighter;
}

.about-container {
	/*position: relative;*/
	color: #fff;
	font-weight: lighter;
	margin: 10px auto;
	padding: 5px;
	width: 98%;
	background: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url('images/guitarist-silhouette.jpg');
	background-position: center;
	background-size: cover;
	border: 1px solid black;
	border-radius: 3px;
}

.about-container p {
	text-align: center;
	margin: 25px 0;
}

.about-container__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.join {
	margin-bottom: 10px;
	text-decoration: underline;
}

.about-list {
	line-height: 1.5em;
	margin: 0;
}

.about-list li {
	margin: 20px 0;
}

.why-wait {
	font-size: 1.2em;
}

.title {
	font-weight: bold;
}

.tiles-main-container {
	margin: 10px auto;
	width: 98%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tile-container {
	width: 100%;
	height: 300px;
	border: 1px solid black;
	background-size: cover;
	background-position: center;
}

.screenshot {
	background-image: url('images/tab-viewer-screenshot.png');
}
.screenshot-fingerboard {
	background-image: url('images/tab-viewer-screenshot-fingerboard.png');
}
.screenshot-catalogue {
	background-image: url('images/tab-viewer-screenshot-catalogue.png');
}

/* Mobile-First Media Queries */

@media all and (max-width: 420px) {

	.banner-container {
		height: 28vw;
	}

	.main-header {
		font-size: 19vw;
	}

}

@media all and (min-width: 768px) {

	.modal-container {
		width: 35vw;
		min-width: 300px;
		max-width: 380px;
	}

}

@media all and (min-width: 992px) {

/*	.modal-container {
		min-width: ;
		max-width: ;
		min-height: ;
		max-height: ;
	}
*/
}

@media all and (min-width: 1200px) {

/*	.modal-container {
		min-width: ;
		max-width: ;
		min-height: ;
		max-height: ;
	}
*/
}










