* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
	z-index: 1;
	display: none;
	margin: 0 auto;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 5px;
}

.modal-header {
	height: 35px;
	background-color: lightblue;
	margin: 0 0 20px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-close {
	float: right;
	font-size: 1.7em;
	margin: 2px 8px 0 0;
}

.modal-close:hover {
	color: #fff;
	cursor: pointer;
}

.modal-body {
	/*display: flex;
	justify-content: center;
	flex-wrap: wrap;*/
}

.signup-call {
	width: 100%;
	padding: 0 20px;
	text-align: center;
}

.signup-form {
	
}

.email-input {
	display: block;
	width: 220px;
	margin: 0 auto;
	line-height: 35px;
	font-size: 1em;
}

.signup-button {
	display: block;
	margin: 6px auto;
	background-color: lightgreen;
	width: 100px;
	border: 3px solid lightgreen;
	border-radius: 3px;
	font-size: 1em;
	color: #fff;
}

.signup-button:hover {
	background-color: #3dd36c;
	border-color: #3dd36c;
	cursor: pointer;
}

/* Mobile-First Media Queries */

@media all and (min-width: 768px) {

	.modal-container {
		width: 35vw;
		min-width: 300px;
		max-width: 380px;
	}

}

@media all and (min-width: 992px) {

/*	.modal-container {
		min-width: ;
		max-width: ;
		min-height: ;
		max-height: ;
	}
*/
}

@media all and (min-width: 1200px) {

/*	.modal-container {
		min-width: ;
		max-width: ;
		min-height: ;
		max-height: ;
	}
*/
}













