@import url('https://fonts.googleapis.com/css?family=Orbitron:700');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*position: relative;*/
	font-family: Helvetica, sans-serif;
	/*color: #fff;*/
	background-color: #92b3e8;
	/*background-color: #b7cae8;*/
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
	z-index: 2;
	display: none;
	margin: 0 auto;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 5px;
}

.modal-header {
	text-align: center;
	height: 35px;
	background-color: lightblue;
	margin: 0 0 20px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-header__text {
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 1.7em;
	margin: 2px 10px 0 0;
}

.modal-close:hover {
	color: #000;
	cursor: default;
}

.modal-body {
	color: #000;
}

.signup-call {
	width: 100%;
	padding: 0 20px;
	text-align: center;
}

.email-input {
	display: block;
	width: 220px;
	margin: 0 auto;
	line-height: 35px;
	font-size: 1em;
}

.signup-button {
	display: block;
	margin: 10px auto;
	background-color: lightgreen;
	width: 100px;
	border: 3px solid lightgreen;
	border-radius: 3px;
	font-size: 1em;
	color: #fff;
}

.signup-button:hover {
	background-color: #3dd36c;
	border-color: #3dd36c;
	cursor: pointer;
}

.banner-container {
	height: 25vw;
	background-color: #000;
	border-bottom: 5px solid #495974;
}

.main-header {
	/*color: #b7cae8;*/
	/*color: #c6dcf2;*/
	color: #fff;
	/*text-shadow: 2px 2px #fffß;*/
	width: 100%;
	/*color: #92b3e8;*/
	margin: 40px auto 0 auto;
	padding-top: 20px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 14vw;
}

.nav {
	width: 100%;
	height: 44px;
	color: #92b3e8;
	font-weight: bold;
	font-size: 0.9em;
	background-color: #000;
	position: fixed;
	top: 0;
	z-index: 0;
	padding-top: 15px;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	transition: color 0.1s;
}

.nav-item:hover {
	color: #fff;
	cursor: pointer;
}

.about-container {
	/*position: relative;*/
	color: #fff;
	font-weight: lighter;
	/*margin: 5px auto 0 auto;*/
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	background: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url('images/guitarist-silhouette.jpg');
		/*image sourced from http://muddassir.deviantart.com/art/Vector-Guitarist-74177604*/
	background-position: center;
	background-size: cover;
}

.about-container p {
	text-align: center;
	/*margin: 25px 0;*/
}

.about-content {
	margin: 0 auto;
	width: 90%;
}

.welcome {
	margin: 25px 0;
}

.join {
	margin-bottom: 10px;
	text-decoration: underline;
}

.about-list {
	line-height: 1.5em;
	margin: 0 auto;
	width: 85%;
	text-align: justify;
	text-justify: inter-word;
}

.about-list li {
	margin: 20px 0;
}

.price {
	font-weight: normal;
}

.why-wait {
	font-size: 1.2em;
	padding-top: 10px;
	margin-bottom: 10px;
}

.get-playing {
	margin: 10px 0 15px 0;
	font-size: 1.3em;
}

.title {
	font-weight: bold;
}

.tiles-main-container {
	margin: 2px auto 5px auto;
	width: 97%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tile-container {
	width: 100%;
	height: 300px;
	margin: 4px 0;
	background-size: cover;
	background-position: center;
}

.screenshot {
	background-image: url('images/tab-viewer-screenshot.png');
}
.screenshot-fingerboard {
	background-image: url('images/tab-viewer-screenshot-fingerboard.png');
	background-position: bottom;
}
.screenshot-catalogue {
	background-image: url('images/tab-viewer-screenshot-catalogue.png');
	/*background-position: top;*/
}

/* Mobile-First Media Queries */

@media all and (min-width: 480px) {

	.banner-container {
		height: 120px;
	}

	.main-header {
		font-size: 4.2em;
		/*font-size: 19vw;*/
	}

	.about-list {
		width: 65%;
	}

	.tile-container {
		transition: all 0.4s;
	}

	.tile-container:hover {
		height: 330px;
	}

}

@media all and (min-width: 768px) {

	.modal-container {
		width: 35vw;
		min-width: 300px;
		max-width: 380px;
	}

	.about-list {
		width: 50%;
	}

	.tile-container {
		width: 45%;
		margin: 5px;
	}

	.tile-container:hover {
		width: 50%;
	}

}

@media all and (min-width: 992px) {

	.about-container {
		width: 90%;
	}

	.about-list {
		width: 45%;
	}

	.tile-container {
		width: 30%;
	}

	.tile-container:hover {
		width: 35%;
	}

}

@media all and (min-width: 1200px) {

	.about-list {
		width: 40%;
	}

}










